@import "../minxins";
@import "./common";
@import "../misc";

#screen-head {
  height: 100%;
  *, *:before, *:after {
    box-sizing: border-box;
  }
}

.head-screen {
  @include default-fonts-settings;
  $spacing: 130px;

  &-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    @include dynamic-size(50, 100, padding-top);
    @include dynamic-size(50, 100, padding-bottom);

    &__container {
      flex: 1 1 100%;
    }

    &__wrapper {
      overflow: hidden;
      position: relative;
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
      margin-top: 70px;
      margin-bottom: 70px;
    }

    &__photo {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;

      &-wrapper {
        position: relative;
        width: 100%;
        height: 330px;
        z-index: 1;

        @include dynamic-size(150, 330, max-width);
        @include dynamic-size(150, 330, max-height);
      }
    }

    &__text {
      @include dynamic-size(50, 100, margin-left);
      margin-top: auto;
    }
  }

  &-bg-text {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    white-space: nowrap;
    line-height: 1;
    display: flex;
    flex-direction: column;
    z-index: 0;
    user-select: none;

    p {
      @include default-fonts-settings;
      @include dynamic-size(50, 120, font-size);

      font-weight: 400;
      text-transform: lowercase;
      margin: 0;
      position: absolute;
      text-align: right;
    }

    span {
      margin: 0 10px;
    }

    div {
      position: relative;
      display: flex;
      flex-direction: column;
    }
  }
}