<div class="screen" id="blur-svg-screen">
    <div class="screen__content">
        <div class="anime-svg_wrapper"
             style="margin: 0 auto; display: flex; align-items: center; justify-content: center; flex: 1 1 100%">
            <p class="anime-blur">asdasd</p>
            <p class="anime-blur">asdasd</p>
            <p class="anime-blur">asdasd</p>
            <p class="anime-blur">asdasd</p>
            <p class="anime-blur">asdasd</p>
        </div>
    </div>
    <script>
      renderAnimeBlur({
        $target: $('.anime-blur'),
      })
    </script>
</div>

