<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
</head>
<body>
<div class="deztena-app">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <div class="screen">
        <div class="screen__content container">
        </div>
    </div>
    <script>
        renderHeader()
    </script>
    <script>
        renderScreenHead()
    </script>
    <script>
        renderScreenServices({
            words: ['логотипы', 'лендинги', 'полиграфию', 'сайты', 'фирменные стили', 'шаблоны', 'презентации', 'taplink', 'визуалы']
        })
    </script>
    <div class="screen">
        <div class="screen__content container">
            <script>
                renderDropdowm({
                    title: 'фирменный стиль',
                    content: {
                        cost: 'от 40.000р',
                        duration: 'от 14 дней',
                        list: [
                            {
                                title: 'Пакет разработки фирменного стиля включает в себя:',
                                rows: [
                                    'проработка визуальной концепции (составление moodboard)',
                                    'дизайн трёх фирменных носителей на выбор (сложная полиграфия рассматривается отдельно)',
                                    'разработка фирменной графики ( паттерн, favicon, узор и т.д)',
                                    'подбор шрифтовой пары',
                                    'подбор цветовой гаммы (CMYK/ RGB/ PANTONE)',
                                    'разработка краткого гайдлайна',
                                    'исходники в различных форматах (.eps, .ai, .psd, .pdf, .jpeg, .png)'
                                ]
                            },
                            {
                                title: 'Дополнительно для инстаграм:',
                                rows: [
                                    'оформление актуальных (до 5 штук)',
                                    'адаптация аватарки или создание новой',
                                    'создание шаблона для поста и истории (под вашу рубрику)'
                                ]
                            }
                        ]
                    }
                })
            </script>
            <script>
                renderDropdowm({
                    title: 'фирменный стиль',
                    content: {
                        cost: 'от 40.000р',
                        duration: 'от 14 дней',
                        list: [
                            {
                                title: 'Пакет разработки фирменного стиля включает в себя:',
                                rows: [
                                    'проработка визуальной концепции (составление moodboard)',
                                    'дизайн трёх фирменных носителей на выбор (сложная полиграфия рассматривается отдельно)',
                                    'разработка фирменной графики ( паттерн, favicon, узор и т.д)',
                                    'подбор шрифтовой пары',
                                    'подбор цветовой гаммы (CMYK/ RGB/ PANTONE)',
                                    'разработка краткого гайдлайна',
                                    'исходники в различных форматах (.eps, .ai, .psd, .pdf, .jpeg, .png)'
                                ]
                            },
                            {
                                title: 'Дополнительно для инстаграм:',
                                rows: [
                                    'оформление актуальных (до 5 штук)',
                                    'адаптация аватарки или создание новой',
                                    'создание шаблона для поста и истории (под вашу рубрику)'
                                ]
                            }
                        ]
                    }
                })
            </script>
        </div>
    </div>
    <script>
      $(document).ready(() => {
        var aboutMeLink = $('#section-about-me')
        var portfolioLink = $('#section-portfolio')
        var servicesLink = $('#section-services')
        var contactLink = $('#section-contacts')

        window.openBurgerMenu = initBurgerMenu({
          preventScrollToElements: true,
          scrollEl: $('.page'),
          topLinks: [
            {label: 'about me', scrollTo: aboutMeLink },
            {label: 'portfolio', scrollTo: portfolioLink},
            {label: 'services', scrollTo: servicesLink}],
          bottomLinks: [
            {label: 'contact', scrollTo: contactLink}
          ]
        })[0]

        $('#menu-trigger').on('click', openBurgerMenu)
      })
    </script>
</div>
</body>
</html>
