<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
</head>
<body>
<div class="deztena-app">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <script>
        renderHeader()
    </script>
    <script>
      renderScreenHead()
    </script>
    <script>
      $(document).ready(() => {
        var aboutMeLink = $('#section-about-me')
        var portfolioLink = $('#section-portfolio')
        var servicesLink = $('#section-services')
        var contactLink = $('#section-contacts')

        window.openBurgerMenu = initBurgerMenu({
          preventScrollToElements: true,
          scrollEl: $('.page'),
          topLinks: [
            {label: 'about me', scrollTo: aboutMeLink },
            {label: 'portfolio', scrollTo: portfolioLink},
            {label: 'services', scrollTo: servicesLink}],
          bottomLinks: [
            {label: 'contact', scrollTo: contactLink}
          ]
        })[0]

        $('#menu-trigger').on('click', openBurgerMenu)
      })
    </script>
</div>
</body>
</html>