<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
</head>
<body>
<div class="deztena-app">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <script>
      var openBurgerMenu = initBurgerMenu({
        topLinks: [{label: 'about me', href: ''}, {label: 'portfolio', href: ''}, {label: 'Servises', href: ''}],
        bottomLinks: [{label: 'contact', href: ''}]
      })[0]
    </script>
    {% include './layouts/header.twig' %}
    {% include './screens/head.twig' %}
</div>
</body>
</html>