<div class="dropdown">
    <div class="dropdown__trigger">
        <img src="{{ triggerImage }}" />
    </div>
    <div class="dropdown__content">
        <img src="{{ contentImage }}" />
    </div>
</div>