@import "./variables";
@import "./functions";
@import "./minxins";
@import "./misc";
@import "./components";
@import "./screens";
@import "./layouts";


body {
  margin: 0;
}

.deztena-app {
  position: relative;
  *, *:before, *:after {
    box-sizing: border-box;
  }
}