<div class="header">
    <div class="header__wrapper">
        <div class="container header__container">
            <div class="header-burger" onclick="openBurgerMenu()">
                <span class="header-burger__item"></span>
                <span class="header-burger__item header-burger__item_middle"></span>
                <span class="header-burger__item"></span>
            </div>
        </div>
    </div>
</div>