<div class="screen head-screen">
    <div class="screen__content">
        <div class="head-screen-photos__wrapper">
            <div class="head-screen-bg-text" id="head-screen-bg-text">
            </div>
            <script>
              renderBgText({ renderTo: $('#head-screen-bg-text'), letter: ' Krystyna Kaznacheieva ' })
            </script>
            <div class="container head-screen-photos__container">
                <div class="head-screen-photos">
                    <div class="head-screen-photos__photo-wrapper">
                        <img class="head-screen-photos__photo" src="http://ipic.su/img/img7/fs/1.1679075255.png" alt="">
                        <img class="head-screen-photos__photo" src="http://ipic.su/img/img7/fs/2.1679075324.png" alt="">
                        <img class="head-screen-photos__photo" src="http://ipic.su/img/img7/fs/3.1679075346.png" alt="">
                        <img class="head-screen-photos__photo" src="http://ipic.su/img/img7/fs/4.1679075367.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="head-screen-photos__text">
            <span>
                // graphic & web designer
            </span>
        </div>
    </div>
</div>