<div class="screen head-screen">
    <div class="screen__content">
        <div class="head-screen-photos__wrapper">
            <div class="head-screen-bg-text">
                <p style="margin-left: -100px">Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna</p>
                <p style="margin-left: -150px">Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna</p>
                <p style="margin-left: -50px">Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna</p>
                <p style="margin-left: -110px">Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna Krystyna</p>
            </div>
            <div class="container head-screen-photos__container">
                <div class="head-screen-photos">
                    <div class="head-screen-photos__photo-wrapper head-screen-photos__photo-wrapper_1">
                        <img class="head-screen-photos__photo head-screen-photos__photo_1" src="https://lh3.google.com/u/0/d/1HYqo9di1SRnVFyQJkEKvNQMS72q9LFtD=w1798-h977-iv1" alt="">
                    </div>
                    <div class="head-screen-photos__photo-wrapper head-screen-photos__photo-wrapper_2">
                        <img class="head-screen-photos__photo head-screen-photos__photo_2" src="https://lh3.google.com/u/0/d/1j0nPcinPUz78Oh5QIHmdQdjoM2W1L8qi=w1798-h977-iv1" alt="">
                    </div>
                    <div class="head-screen-photos__photo-wrapper head-screen-photos__photo-wrapper_3">
                        <img class="head-screen-photos__photo head-screen-photos__photo_3" src="https://lh3.google.com/u/0/d/1zFcaXVDnBLqgBWM2aWvSZK2qnug-cXhC=w1798-h977-iv1" alt="">
                    </div>
                    <div class="head-screen-photos__photo-wrapper head-screen-photos__photo-wrapper_4">
                        <img class="head-screen-photos__photo head-screen-photos__photo_4" src="https://lh3.google.com/u/0/d/1VccsXiKuM8nPJKmjk1aShb4YSFPteuQ_=w1798-h977-iv1" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="head-screen-photos__text">
            <span>
                // graphic & web designer
            </span>
        </div>
    </div>
</div>